h2{
    margin: 0;
}

.users-container{
    margin: 20px 50px;
}

.add-user{
    margin-bottom: 10px;
}

.filter-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

mat-form-field{
    margin-bottom: -1.20em
}

.user-table{
    border-radius: 3px;
}